Mindbox task.idea/

Mindbox task/obj/

.idea/.idea.Mindbox task/.idea/

.idea/.idea.Mindbox task/

FiguresTests/obj/Debug/netcoreapp2.2/

FiguresTests/obj/

MindboxTask/obj/

FiguresTests/bin/Debug/netcoreapp2.2/

MindboxTask/bin/Debug/netcoreapp2.2/
